<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <include file="./Public/common/loadCss.html"/>
    <title>{$sysInfo.siteName}</title>
    <meta name="KeyWords" content="{$sysInfo.keyWords}"/>
    <meta name="description" content="{$sysInfo.siteDesc}"/>
</head>
<body>
  <!-- header -->
  <include file="./Public/common/head.html"/>
  <!-- searchBox -->
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="row text-center">
              <include file="./Public/common/search.html"/>
              <div class=" mt center-block mlb">
                  <foreach item="hot" name="hot">
                      <a href="/search/{$hot}.jsp">
                          <span class="label label-{:rangTahs()}">{$hot}</span>
                      </a>
                  </foreach>
              </div>
          </div>
        </div>
        <div class="row mt">
            <foreach item="list" name="listA">
                <div class="col-md-6">
                    <ul class="list-group">
                        <!--<li class="list-group-item bg333"><span class="glyphicon glyphicon-flag">.</span></li>-->
                        <!--<li class="list-group-item">***<span class="badge">new</span></li>-->
                        <foreach item="L" name="list" >
                            <li class="list-group-item list"><a href="/detail/{$L.id}.jsp">{$L.res_name}</a></li>
                        </foreach>
                    </ul>
                </div>
            </foreach>
        </div>
      </div>
      <div class="col-md-3">

          <foreach item="list" name="listB">
              <div class="row">
                  <div class="col-md-12 m">
                      <ul class="list-group">
                          <!--<li class="list-group-item bg333"><span class="glyphicon glyphicon-flag">.</span>#######</li>-->
                          <foreach item="L" name="list" >
                              <li class="list-group-item list"><a href="/detail/{$L.id}.jsp">{$L.res_name}</a></li>
                          </foreach>
                      </ul>
                  </div>
              </div>
          </foreach>

      </div>
    </div>
  </div>
  <!-- footer -->
  <include file="./Public/common/footer.html"/>
</body>
</html>