<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap-theme.css">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/css/dee.css">
    <title>{$data.kw} - {$sysInfo.siteName}</title>
</head>
<body>
  <!-- 页头 -->
  <include file="./Public/common/head.html"/>
  <!-- 搜索框 -->
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row float">
          <div class="row text-center">
            <include file="./Public/common/search.html"/>
          </div>
        </div>
        <h4>{$data.total} in total, took {$data.costTime} seconds</h4>
        <foreach name="data.list" item="list">
          <a href="{:U('index/detail', ['code'=> encrypt($list['id'])])}" class="searh_list">
            <div class="row mt">
              <div class="col-md-12 m">
                <div class="text-justify">
                  <h4 class="searh_list_h"><label class="searh_list_hb"><span class="badge">Hot</span>{$list->res_name} </label></h4>
                  <p class="searh_list_d">{$list->res_desc}</p>
                  <div class="row">
                    <div class="col-md-3"><label>Downloaded:</label> 1024</div>
                    <div class="col-md-3"><label>PR:</label> {:ceil($list->percent()/10)}</div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </foreach>
        <div class="panel-body center">
          {$data.page}
        </div>

      </div>
      <div class="col-md-3">

        <if condition="!empty($data['relKw'])">
          <div class="row">
            <div class="col-md-12 m">
              <ul class="list-group">
                <li class="list-group-item bg333"><span class="glyphicon glyphicon-flag">.</span>Relations</li>
                <foreach item="rel" name="data.relKw">
                  <li class="list-group-item"><a href="{:U('/Search/Index/search', ['key'=>$rel])}">{$rel}</a></li>
                </foreach>
              </ul>
            </div>
          </div>
        </if>

          <div class="row">
              <div class="col-md-12 m">
                  <ul class="list-group">
                      <!--<li class="list-group-item bg333"><span class="glyphicon glyphicon-flag">.</span>****</li>-->
                      <foreach name="siderA" item="list">
                          <li class="list-group-item">{$list}</li>
                      </foreach>
                  </ul>
              </div>
          </div>

          <div class="row">
              <div class="col-md-12 m">
                  <ul class="list-group">
                      <!--<li class="list-group-item bg333"><span class="glyphicon glyphicon-flag">.</span>****</li>-->
                      <foreach name="siderB" item="list">
                          <li class="list-group-item">{$list}</li>
                      </foreach>
                  </ul>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- 页尾 -->
  <include file="./Public/common/footer.html"/>
</body>
</html>