<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap-theme.css">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/css/dee.css">
    <link rel="stylesheet" href="__PUBLIC__/css/dandelion.css"  media="screen" />
    <title>gk</title>
</head>
<body>
  <!-- 页头 -->
  <include file="./Public/common/head.html"/>
  <!-- 搜索框 -->
  <div class="container">
    <div class="row">
        <div id="da-wrapper" class="fluid">
      <div class="col-md-12">
        <div id="da-content">
          <!-- Container -->
          <div class="da-container clearfix">
            <div id="da-error-wrapper">
              <div id="da-error-pin"></div>
              <div id="da-error-code">
                Error <span>404</span>
              </div>
              <h1 class="da-error-heading">It looks like somewhere got wrong</h1>
              <p>You can got someelse from here！</p>
              <p><a href="http://www.smallseashell.com/">小贝壳资源下载</a><a href="http://www.smallseashell.com/">jquery脚本</a><a href="http://www.smallseashell.com/">jsp源码</a><a href="http://www.smallseashell.com/">网页素材</a></p>
            </div>
          </div>
        </div>
      </div>
        </div>
    </div>
    <div class="row">
      <!-- Footer -->
      <!--<include file="./Public/common/footer.html"/>-->
    </div>
  </div>
  <!-- 页尾 -->
  <include file="./Public/common/footer.html"/>
</body>
</html>

<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>