<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap-theme.css">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/css/jquery-ui.css">
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/css/dee.css">
    <title>HomePage</title>
</head>
<body>
  <!-- 页头 -->
  <div class="container navbar-fixed-top">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#" class="navbar-brand" style="color: #fff;"><span class="glyphicon glyphicon-home">.</span>Gk-Online</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="#">Top100</a></li>
            <li><a href="#">Hot100</a></li>
          </ul>
        </div>
        <form action="#" class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search">.Search</button>
        </form>
      </div>
    </nav>
  </div>
  <!-- 搜索框 -->
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="row text-center">
            <form action="#" role="search" id="searchBox" class="navbar-form">
              <div class="form-group input-group input-group-lg" id="q-input">
                <input type="text" id="searchKey" name="key" class="form-control  search-query" placeholder="Search" >
              </div>
              <button type="submit" class="btn btn-success btn-lg">Search</button>
            </form>
            <!-- 搜索框弹出框 -->
            <div class="" id='foraspcn'></div>
            <div class=" mt center-block mlb">
              <a href="#">
                <span class="label label-danger">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-warning">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-info">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-success">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-danger">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-primary">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-danger">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-default">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-danger">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-danger">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-warning">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-info">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-success">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-danger">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-primary">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-danger">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-default">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-danger">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-danger">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-warning">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-info">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-success">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-danger">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-primary">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-danger">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-default">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-danger">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-danger">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-warning">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-info">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-success">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-danger">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-primary">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-danger">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-default">危险标签</span>
              </a>
              <a href="#">
                <span class="label label-danger">危险标签</span>
              </a>
            </div>
          </div>
        </div>
        <div class="row mt">
          <div class="col-md-6">
            <ul class="list-group">
              <li class="list-group-item bg333"><span class="glyphicon glyphicon-flag">.</span>免费域名注册</li>
              <li class="list-group-item">免费 Window 空间托管</li>
              <li class="list-group-item">图像的数量</li>
              <li class="list-group-item">24*7 支持</li>
              <li class="list-group-item">每年更新成本 <span class="badge">new</span></li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-group">
              <li class="list-group-item bg333"><span class="glyphicon glyphicon-flag">.</span>免费域名注册</li>
              <li class="list-group-item">免费 Window 空间托管</li>
              <li class="list-group-item">图像的数量</li>
              <li class="list-group-item">24*7 支持</li>
              <li class="list-group-item">每年更新成本 <span class="badge">new</span></li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-group">
              <li class="list-group-item bg333"><span class="glyphicon glyphicon-flag">.</span>免费域名注册</li>
              <li class="list-group-item">免费 Window 空间托管</li>
              <li class="list-group-item">图像的数量</li>
              <li class="list-group-item">24*7 支持</li>
              <li class="list-group-item">每年更新成本 <span class="badge">new</span></li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-group">
              <li class="list-group-item bg333"><span class="glyphicon glyphicon-flag">.</span>免费域名注册</li>
              <li class="list-group-item">免费 Window 空间托管</li>
              <li class="list-group-item">图像的数量</li>
              <li class="list-group-item">24*7 支持</li>
              <li class="list-group-item">每年更新成本 <span class="badge">new</span></li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-group">
              <li class="list-group-item bg333"><span class="glyphicon glyphicon-flag">.</span>免费域名注册</li>
              <li class="list-group-item">免费 Window 空间托管</li>
              <li class="list-group-item">图像的数量</li>
              <li class="list-group-item">24*7 支持</li>
              <li class="list-group-item">每年更新成本 <span class="badge">new</span></li>
            </ul>
          </div>
          <div class="col-md-6 m">
            <ul class="list-group">
              <li class="list-group-item bg333"><span class="glyphicon glyphicon-flag">.</span>免费域名注册</li>
              <li class="list-group-item">免费 Window 空间托管</li>
              <li class="list-group-item">图像的数量</li>
              <li class="list-group-item">24*7 支持</li>
              <li class="list-group-item">每年更新成本</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 m">
            <ul class="list-group">
              <li class="list-group-item bg333"><span class="glyphicon glyphicon-flag">.</span>免费域名注册</li>
              <li class="list-group-item">免费 Window 空间托管</li>
              <li class="list-group-item">图像的数量</li>
              <li class="list-group-item">24*7 支持</li>
              <li class="list-group-item">每年更新成本</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 m">
            <ul class="list-group">
              <li class="list-group-item bg333"><span class="glyphicon glyphicon-flag">.</span>免费域名注册</li>
              <li class="list-group-item">免费 Window 空间托管</li>
              <li class="list-group-item">图像的数量</li>
              <li class="list-group-item">24*7 支持</li>
              <li class="list-group-item">每年更新成本</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 m">
            <ul class="list-group">
              <li class="list-group-item bg333"><span class="glyphicon glyphicon-flag">.</span>免费域名注册</li>
              <li class="list-group-item">免费 Window 空间托管</li>
              <li class="list-group-item">图像的数量</li>
              <li class="list-group-item">24*7 支持</li>
              <li class="list-group-item">每年更新成本</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 m">
            <ul class="list-group">
              <li class="list-group-item bg333"><span class="glyphicon glyphicon-flag">.</span>免费域名注册</li>
              <li class="list-group-item">免费 Window 空间托管</li>
              <li class="list-group-item">图像的数量</li>
              <li class="list-group-item">24*7 支持</li>
              <li class="list-group-item">每年更新成本</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 页尾 -->
  <div class="container">
    <footer>
      <div class="container text-center">
        <p>&copy; CopyRight {:date('Y', time())}</p>
      </div>
    </footer>
  </div>
</body>
</html>

<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
<script language="javascript">
    $(function(){
        // input tips
        $('#q-input .search-query').focus(function(){
            if ($(this).val() == $(this).attr('title')) {
                $(this).val('').removeClass('tips');
            }
        }).blur(function(){
            if ($(this).val() == '' || $(this).val() == $(this).attr('title')) {
                $(this).addClass('tips').val($(this).attr('title'));
            }
        }).blur().autocomplete({
            'source':'http://www.tt.com/search3/suggest.php?term=c',
            'select':function(ev,ui) {
                $('#q-input .search-query').val(ui.item.label);
                $('#q-form').submit();
            }
        });
        // submit check
        $('#q-form').submit(function(){
            var $input = $('#q-input .search-query');
            if ($input.val() == $input.attr('title')) {
                alert('请先输入关键词');
                $input.focus();
                return false;
            }
        });
    });
</script>