<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap-theme.css">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/css/dee.css">
    <title>gk</title>
</head>
<body>
  <!-- 页头 -->
  <div class="container navbar-fixed-top">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#" class="navbar-brand" style="color: #fff;"><span class="glyphicon glyphicon-home">.</span>Gk-Online</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="#">Top100</a></li>
            <li><a href="#">Hot100</a></li>
          </ul>
        </div>
        <form action="#" class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search">.Search</button>
        </form>
      </div>
    </nav>
  </div>
  <!-- 搜索框 -->
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row float">
          <div class="row text-center">
            <form action="#" role="search" id="searchBox" class="navbar-form">
              <div class="form-group input-group input-group-lg" >
                <input type="text" id="searchKey" name="key" class="form-control" placeholder="Search" >
              </div>
              <button type="submit" class="btn btn-success btn-lg">Search</button>
            </form>
            <!-- 搜索框弹出框 -->
            <div class="" id='foraspcn'></div>
          </div>
        </div>

        <foreach name="data.list" item="list">
          <a href="#" class="searh_list">
            <div class="row mt">
              <div class="col-md-12 m">
                <div class="text-justify">
                  <h4 class="searh_list_h"><label class="searh_list_hb"><span class="badge">Hot</span>{$list->res_name} </label></h4>
                  <p class="searh_list_d">{$list->res_desc}</p>
                  <div class="row">
                    <div class="col-md-3"><label>Downloaded:</label> 1024</div>
                    <div class="col-md-3"><label>PR:</label> {$list->percent}</div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </foreach>

      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 m">
            <ul class="list-group">
              <li class="list-group-item bg333"><span class="glyphicon glyphicon-flag">.</span>免费域名注册</li>
              <li class="list-group-item">免费 Window 空间托管</li>
              <li class="list-group-item">图像的数量</li>
              <li class="list-group-item">24*7 支持</li>
              <li class="list-group-item">每年更新成本</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 m">
            <ul class="list-group">
              <li class="list-group-item bg333"><span class="glyphicon glyphicon-flag">.</span>免费域名注册</li>
              <li class="list-group-item">免费 Window 空间托管</li>
              <li class="list-group-item">图像的数量</li>
              <li class="list-group-item">24*7 支持</li>
              <li class="list-group-item">每年更新成本</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 m">
            <ul class="list-group">
              <li class="list-group-item bg333"><span class="glyphicon glyphicon-flag">.</span>免费域名注册</li>
              <li class="list-group-item">免费 Window 空间托管</li>
              <li class="list-group-item">图像的数量</li>
              <li class="list-group-item">24*7 支持</li>
              <li class="list-group-item">每年更新成本</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 m">
            <ul class="list-group">
              <li class="list-group-item bg333"><span class="glyphicon glyphicon-flag">.</span>免费域名注册</li>
              <li class="list-group-item">免费 Window 空间托管</li>
              <li class="list-group-item">图像的数量</li>
              <li class="list-group-item">24*7 支持</li>
              <li class="list-group-item">每年更新成本</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 页尾 -->
  <div class="container">
    <footer>
      <div class="container text-center">
        <p>&copy; CopyRight 2012</p>
      </div>
    </footer>
  </div>
</body>
</html>

<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
<script language="javascript">
    <!--
    ///开始定义全局内容
    var i = $("input[name=key]");
    var fouce_li_num = -1;///默认没有选择任何下拉内容
    var width_ = i.css('width');//这里设置的是搜索框的宽度，目的为了与下面的列表宽度相同
    // var top_ = i.offset().top;
    var li_color = "#fff";//默认的下拉背景颜色
    var li_color_ = "#CCC";//当下拉选项获取焦点后背景颜色
    $(function(){
        i.keyup(function(event){
            var keycode = event.keyCode;
            if(delkeycode(keycode))return;
            var key_ = $(this).val();//获取搜索值
            // var top_ = $(this).offset().top;//获搜索框的顶部位移
            // console.log(top_)
            var left_ = $(this).offset().left;//获取搜索框的左边位移
            console.log(left_)
            if(keycode==13){//enter search
                if(fouce_li_num>=0){
                    $(this).val($.trim($("#foraspcn >li:eq("+fouce_li_num+")").text()));
                    fouce_li_num=-1;
                }else{
                    /////当没有选中下拉表内容时 则提交form 这里可以自定义提交你的搜索
                }
                $("#foraspcn").hide();
            }else if(keycode==40){//单击键盘向下按键
                fouce_li_num++;
                var li_allnum = $("#foraspcn >li").css("background-color",li_color).size();
                if(fouce_li_num>=li_allnum&&li_allnum!=0){//当下拉选择不为空时
                    fouce_li_num=0;
                }else if(li_allnum==0){fouce_li_num--;return;}
                $("#foraspcn >li:eq("+fouce_li_num+")").css("background-color",li_color_);
            }else if(keycode==38){//点击键盘向上按键
                fouce_li_num--;
                var li_allnum = $("#foraspcn >li").css("background-color",li_color).size();
                if(fouce_li_num<0&&li_allnum!=0){//当下拉选择不为空时
                    fouce_li_num=li_allnum-1;
                }else if(li_allnum==0){fouce_li_num++;return;}
                $("#foraspcn >li:eq("+fouce_li_num+")").css("background-color",li_color_);
            }else{//进行数据查询，显示查询结果
                fouce_li_num=-1;
                $("#foraspcn").empty();
                ///ajax调用 这里使用的是 测试内容
                ajax_demo();
                //ajax_getdata(key_);//如果使用ajax去前面的demo和//
                //赋值完毕后进行显示
                $("#foraspcn").show().css({"left":""+ left_});
            }
        });
        //当焦点从搜索框内离开则，隐藏层
        $("body").click(function(){ $("#foraspcn").hide(); });
        $("#foraspcn").css({"width":""+width_,"position":"absolute","z-index":"999","list-style":"none","display":"none"});//这里设置列下拉层的样式，默认为隐藏的
    });
    //定义非开始运行函数
    function delkeycode(keycode){//去除了不必要的按键反应，当比如删除，f1 f2等按键时，则返回
        var array = new Array();
        array =[8,16,19,20,27,33,34,35,36,45,46,91,112,113,114,115,116,117,118,119,120,121,122,123,145,192];
        for(i=0;i<array.length;i++){
            if(keycode==array[i]){return true;break;}
        }
        return false;
    }

    //这是一个测试案例
    function ajax_demo(){
        var data_array = ["网站制作学习网","网站制作","www.jb51.net"];
        for(i=0;i<data_array.length;i++){//这里进行数据附加 返回数据格式为 关键词数组
            $("#foraspcn").append("<li class='form-control' style='margin-top:0px;font-size:18px; width:"+width_+"px;'>"+data_array[i]+"</li>");
        }
        $("#foraspcn >li").mouseover(function(){$(this).css("background-color",li_color_);});
        $("#foraspcn >li").mouseout(function(){$(this).css("background-color",li_color);});
        $("#foraspcn >li").click(function(){$("input[name=key]").val($.trim($(this).text()));$(this).parent().hide();});
    }
    ////////////////这里是正式的ajax调用
    function ajax_getdata(key){
        $.post(
            "ajax_tag_search.php",
            {"key":key},//ajax 的post不能提交中文提交，在动作页面进行获取后需要解码，注意字符格式，然后搜索后返回
            function(data){//返回格式是json数据，至少是个数组也可自定义，然后再这里进行操作
                data_array = eval("("+data+")");
                for(i=0;i<data_array.length;i++)//这里进行数据附加 返回数据格式为 关键词数组
                    $("#foraspcn").append("<li style='width:"+width_+"px;'>"+data_array[i]+"</li>");
                $("#foraspcn >li").mouseover(function(){$(this).css("background-color",li_color_);});
                $("#foraspcn >li").mouseout(function(){$(this).css("background-color",li_color);});
                $("#foraspcn >li").click(function(){$("input[name=key]").val($.trim($(this).text()));$(this).parent().hide();});
            }
        );
    }
</script>